<div class="container">
    <div class="input-group mb-3 mt-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Фамилия</span>
        </div>
        <input type="text" class="form-control" placeholder="Фамилия" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3 mt-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Номер комнаты</span>
        </div>
        <input type="text" class="form-control" placeholder="Комната" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3 mt-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Номер брони</span>
        </div>
        <input type="text" class="form-control" placeholder="Бронь" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
</div>